// clearfix
@mixin cf() {
  &:after { display:table;height:0;clear:both;content:'';}
}

/**
 * --------------------------
 * QUIZ-THEME
 * --------------------------
 */
$quiz : (
  background : #616161,
  color      : #ffffff
);


/**
 * Quiz
 */
.quiz {
  width:100%;
  height:100%;

  @include cf();

  .quiz-theme {

    &.quiz-theme--default {}

  }

  // overflow:hidden;
  overflow-y:scroll;
} 


  /**
   * Content
   */
  .quiz-questions {

    // temp
    width:500%;

  }
  
    /**
     * Quiz Question
     */
    .quiz-question {
      position: relative;
      display:block;
      width:calc(100%/5);
      height:100%;
      height:90vh;
      float:left;

      


        // form elements
        .quiz-question__fieldset {
          min-height: 100%;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;

        }



          .quiz-question__inner {         
            cursor: pointer;   
            position: relative;
            display: flex; 
            flex-basis: calc(50% - 0px);  
            justify-content: center;
            flex-direction: column;
            text-align:center;

            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;

            // debug
            background-color: rgba(red, 0.15);
            border: 1px solid red;

            text-align: center;
            transition: all 150ms ease;

            &:hover {
              background-color: rgba(red, 0.35);
            }
            &.active {
              background-color: rgba(red, 0.55); 
            }
          }

          // .quiz-question__cell {
          //   position: absolute;
          //   top: 0;
          //   left: 0;
          //   width: 100%;
          //   height: 100%;
          //   display: block;
          // }
    }

        // Input Radio
        .quiz-question__input {
          &.quiz-question__input--radio {
            // invisible
            // visibility: hidden;
            position: absolute;
            top:0;left:0;
            width:0;height:0;
          }
        }


        // Label
        .quiz-question__label {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;

          text-align: center;
          font-weight:normal;
          font-weight:300;
          margin:0;

          span {
            // display:table-cell;
            // vertical-align: middle;
            
            // display: block;
            // height: 100%;
            // text-align: center;
            
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate3d(-50%, -50%, 0);

          }
        }



      // <h4>
      .quiz-question__title {
        display:none;
      }



      .quiz-question__answers {

      }

  
  /**
   * Footer
   */
  .quiz-footer {
    margin: 10px 0;
  }


  .quiz-question__input {

  }
  

  .quiz-submit {

  }



