.quiz {
  width: 100%;
}
.quiz:after {
  display: table;
  height: 0;
  clear: both;
  content: '';
}

/**
 * Content
 */
/**
 * Quiz Question
 */
.quiz-question {
  width: 50%;
  float: left;
}

/**
 * Footer
 */
.quiz-footer {
  margin: 10px 0;
}

/**
 * Form Elements
 */
